@font-face {
  font-family: "IBM";
  font-weight: 300;
  src: url(./assets/fonts/IBMPlexSansKR-Light.ttf);
}
@font-face {
  font-family: "IBM";
  font-weight: 400;
  src: url(./assets/fonts/IBMPlexSansKR-Regular.ttf);
}
@font-face {
  font-family: "IBM";
  font-weight: 500;
  src: url(./assets/fonts/IBMPlexSansKR-Medium.ttf);
}
@font-face {
  font-family: "IBM";
  font-weight: 600;
  src: url(./assets/fonts/IBMPlexSansKR-SemiBold.ttf);
}
@font-face {
  font-family: "IBM";
  font-weight: 700;
  src: url(./assets/fonts/IBMPlexSansKR-Bold.ttf);
}

* {
  font-family: "IBM";
}

body {
  height: 100vh;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 30px;
}

li button {
  display: inline-flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: none;
  vertical-align: middle;
  font-weight: 700;
  cursor: pointer;
}
li button:hover {
  background-color: rgba(255, 255, 255, .5);
}

input {
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
}
input:focus {
  border: 1px solid hotpink;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 3px gray;
  font-size: 30px;
}
h4 {
  margin: 0;
}

.hidden {
  display: none !important;
}

#temp {
  display: flex;
  align-items: center
}
#weather-state {
  display: flex;
  align-items: center
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  min-height: 600px;
  margin: 0 25%;
  border: 1px solid white;
  border-top: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .3);
}
.card-top {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  margin-bottom: 70px;
  padding-right: 20px;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #EDEDED;
  font-size: 13px;
}
.card-top-icons {
  flex: 0 0 auto;
  width: 55px;
  margin-left: 8px;
}
.card-top-box {
  position: relative;
  width: 100%;
  height: 80%;
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
}
.card-top-box::after {
  position: absolute;
  top: 4px;
  left: 11px;
  color: gray;
  font-weight: 600;
  content: "https://my-todo-list";
}
.card-content {
  min-width: 400px;
}

#todo-form input {
  width: 80%;
}
#todo-form button {
  padding: 4px 11px;
  height: 30.6px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  border: none;
  border-radius: 6px;
  background-color: pink;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
#todo-form button:hover{
  background-color: rgb(250, 156, 172);
}

.todo-dress-left {
  display: flex;
  flex-direction: column;
}

.todo-checkbox {
  position: absolute;
  left: -10000px;
  opacity: 0;
}
.todo-checkbox + label {
  position: relative;
  padding-left: 25px;
}
.todo-checkbox + label::before {
  position: absolute;
  left: 0;
  content: "🤍"
}
.todo-checkbox:checked + label::before {
  content: "💗"
}

.todo-text {
  font-weight: 500;
}